<%= form_with(model: valley, local: true) do |form| %>
  <% if valley.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(valley.errors.count, "error") %> prohibited this valley from being saved:</h2>

      <ul>
      <% valley.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :valley_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= f.label :valley_id %>
  <%= f.collection_select(:valley_id, Valley.all, :id, :name) %>
<% end %>
